@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
/* font-family: 'Mulish', sans-serif; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;

    box-sizing: border-box;
}

.sidebar {
    height: 100Vh;
    position: fixed;
    inset: '';
    width: 75px;
    background: #e5e5e5;

    position: relative;

    font-size: 14px;

    display: flex;
    justify-content: center;

    padding: 100px 0;

    transition: width ease-out .8s;
    z-index: 1000;
}

.sidebar.active {
    width: 250px;
}

.sidebar .menutoggle {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 80px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
    border-bottom: 1px solid silver;

    padding: 0 23px;
}

.sidebar .menutoggle::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(-8px);
}

.sidebar .menutoggle::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: #333;
    transform: translateY(8px);
    box-shadow: 0 -8px 0 #333;
}

.sidebar .sidebar-list {
    width: 100%;
}

.sidebar-list .sidebar-list-item {
    width: 100%;
    height: 60px;

    line-height: 60px;
    list-style: none;
}

.sidebar-list .sidebar-list-item .sidebar-link {

    display: flex;
    justify-content: flex-start;

    padding: 0 23px;

    text-transform: uppercase;
    text-decoration: none;

    color: #222;
}

.sidebar-list .sidebar-list-item .sidebar-link .sidebar-link-icon {
    font-size: 1.23rem;
    margin: 0 5px;
}

.sidebar .sidebar-list .sidebar-list-item .sidebar-link .sidebar-link-text {
    opacity: 0;
    visibility: hidden;

    transition: all ease .7s;
}

.sidebar.active .sidebar-list .sidebar-list-item .sidebar-link .sidebar-link-text {
    opacity: 1;
    visibility: visible;
    transform: translateX(6px);
    transition: all ease .7s;
}

.fromleft {
    animation-name: fromleft;
    animation-duration: 1s;
}

@keyframes fromleft {
    0% {
        transform: translateX(-120px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


/* profile */
.acc-type {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
}

.acc-type .user-photo {
    border: 1px solid silver;
    border-radius: 50%;
}

.acc-type .acc-info {
    margin: 10px;
}

.acc-info .user-name {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;

    color: #333;
}

.acc-info .user-name,
.acc-permit-type {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;

    color: #111;
}