<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <form th:fragment="userForm" th:action="@{/users/create}" th:object="${user}" method="post">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="form-group mb-2">
                    <label for="loginId">LOGIN ID</label>
                    <input type="text" id="loginId" th:field="*{loginId}"
                        th:classappend="${#fields.hasErrors('loginId')} ? 'is-invalid'" class="form-control">
                    <div class="invalid-feedback" th:errors="*{loginId}"></div>
                </div>

                <div class="form-group mb-2">
                    <label for="password">PASSWORD</label>
                    <input type="password" id="password" th:field="*{password}"
                        th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" class="form-control">
                    <div class="invalid-feedback" th:errors="*{password}"></div>
                </div>

                <div class="form-group mb-2">
                    <label for="email">EMAIL</label>
                    <input type="email" id="email" th:field="*{email}"
                        th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" class="form-control">
                    <div class="invalid-feedback" th:errors="*{email}"></div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="form-group mb-2">
                    <label for="username">USER NAME</label>
                    <input type="text" id="username" th:field="*{username}"
                        th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" class="form-control">
                    <div class="invalid-feedback" th:errors="*{username}"></div>
                </div>

                <div class="form-group mb-2">
                    <label for="role">ROLES</label>
                    <input type="text" id="role" th:field="*{role}"
                        th:classappend="${#fields.hasErrors('role')} ? 'is-invalid'" class="form-control">
                    <div class="invalid-feedback" th:errors="*{role}"></div>
                </div>

                <div class="form-group mb-2">
                    <label for="address">ADDRESS</label>
                    <input type="text" id="address" th:field="*{address}"
                        th:classappend="${#fields.hasErrors('address')} ? 'is-invalid'" class="form-control">
                    <div class="invalid-feedback" th:errors="*{address}"></div>
                </div>
            </div>
        </div>

        <div>
            <a href="#" th:href="@{/users}" class="btn btn-outline-secondary">Cancel</a>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>

    </form>
</body>

</html>